global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

        ulimit-n 200099
        maxconn 100000

defaults
        timeout connect 5000ms
        timeout client 300000ms
        timeout server 300000ms
        default-server init-addr last,libc,none
        
listen mqtt
        mode tcp
        option tcplog
        bind *:1883
        balance leastconn

{% for node in haproxy_mqtt_nodes | default([]) %}
        server mqtt-{{ loop.index }} {{ node }}:{{ dojot_nodeports.mqtt }} check inter 1000ms fall 3 rise 5
{% endfor %}

listen mqtts
        mode tcp
        option tcplog
        bind *:8883
        balance leastconn

{% for node in haproxy_mqtt_nodes | default([]) %}
        server mqtts-{{ loop.index }} {{ node }}:{{ dojot_nodeports.mqtts }} check inter 1000ms fall 3 rise 5
{% endfor %}

listen kong
        mode tcp
        option tcplog
        bind *:80
        balance leastconn
        
{% for node in haproxy_kong_nodes | default([]) %}
        server dojot-{{ loop.index }} {{ node }}:{{ dojot_nodeports.apigw }} check inter 1000ms fall 3 rise 5
{% endfor %} 

listen metrics
        mode tcp
        option tcplog
        bind *:8080
        balance leastconn
        
{% for node in haproxy_metrics_nodes | default([]) %}
        server metrics-{{ loop.index }} {{ node }}:{{ dojot_nodeports.metrics }} check inter 1000ms fall 3 rise 5
{% endfor %} 

listen lwm2m_http
        mode tcp
        option tcplog
        bind *:5896
        balance leastconn
        
{% for node in haproxy_lwm2m_nodes | default([]) %}
        server lwm2m-{{ loop.index }} {{ node }}:{{ dojot_nodeports.lwm2m.http }} check inter 1000ms fall 3 rise 5
{% endfor %} 

listen lwm2m_https
        mode tcp
        option tcplog
        bind *:5897
        balance leastconn
        
{% for node in haproxy_lwm2m_nodes | default([]) %}
        server lwm2m-{{ loop.index }} {{ node }}:{{ dojot_nodeports.lwm2m.https }} check inter 1000ms fall 3 rise 5
{% endfor %} 

listen lwm2m_coap
        mode tcp
        option tcplog
        bind *:5683
        balance leastconn
        
{% for node in haproxy_lwm2m_nodes | default([]) %}
        server lwm2m-{{ loop.index }} {{ node }}:{{ dojot_nodeports.lwm2m.coap }} check inter 1000ms fall 3 rise 5
{% endfor %} 

listen lwm2m_coaps
        mode tcp
        option tcplog
        bind *:5684
        balance leastconn
        
{% for node in haproxy_lwm2m_nodes | default([]) %}
        server lwm2m-{{ loop.index }} {{ node }}:{{ dojot_nodeports.lwm2m.coaps }} check inter 1000ms fall 3 rise 5
{% endfor %} 

listen lwm2m_file_server
        mode tcp
        option tcplog
        bind *:5693
        balance leastconn
        
{% for node in haproxy_lwm2m_nodes | default([]) %}
        server lwm2m-{{ loop.index }} {{ node }}:{{ dojot_nodeports.lwm2m.file_server }} check inter 1000ms fall 3 rise 5
{% endfor %} 

listen lwm2m_secure_file_server
        mode tcp
        option tcplog
        bind *:5694
        balance leastconn
        
{% for node in haproxy_lwm2m_nodes | default([]) %}
        server lwm2m-{{ loop.index }} {{ node }}:{{ dojot_nodeports.lwm2m.secure_file_server }} check inter 1000ms fall 3 rise 5
{% endfor %} 
