apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    name: data-manager
    app: dojot
  name: data-manager
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: data-manager
        app: dojot
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/group
                operator: In
                values:
                - "core"
      containers:
      - image: dojot/data-manager:{{ dojot_data_manager_version }}
        name: data-manager
      restartPolicy: Always
