apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    name: gui
    app: dojot
  name: gui
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: gui
        app: dojot
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/group
                operator: In
                values:
                - "core"
      containers:
      - image: dojot/gui:{{ dojot_gui_version }}
        name: gui
      restartPolicy: Always
